*{
    margin: 0;
    padding: 0;
    font-family: 'Nerko One', cursive;
    border: 0;
    outline: 0;
    font-size: 100%;
    overflow-x: hidden;
}


.hero-htn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #000000;
    padding: 12px 24px;
    font-size: 15px;
    background: transparent;
    width: 30%;
    
    cursor: pointer;
    
}
.hero-htn:hover{
    border: 10px solid #00dcd1;
    background: #00dcd1;
    transition: 1s;
}


.header{
    min-height: 600px;
    width: 100%;
    background-image: url(bg1.jpg);
    
    
    background-size: cover;
    
    position: relative;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
.header img{
    animation: fadeIn 5s;
    justify-content: space-around;
    
}
.home{
    padding-bottom: 100px;
    margin: auto;
    
}
.soci a{
    width: 10%;

}
.headerb{
    min-height: 600px;
    width: 100%;
    background-image: url(bg1.jpg);
    
    
    background-size: cover;
    
    position: relative;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
.headerb img{
    animation: fadeIn 5s;
}
nav img{
    width: 250px;
    background-position: fixed;
 background-color: #00000018;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    border-radius: 7px;
  }
  
  .order{
    
        display: block;
        text-decoration: none;
        color: rgb(0, 0, 0);
        border:solid #ffff00;
        padding: 12px 24px;
        border-radius: 10px;
        background: #ffff00;
        position: sticky;
        cursor: pointer;
        right: 0;
        font-size: 42px;
        
    }

    .order:hover{
        border: 10px solid #00dcd1;
        background: #00dcd1;
        transition: 1s;
    }


  nav{
    display: flex;
    padding: 2% 6%;
    
    justify-content: space-between;
    align-items: left;
   
    border: 10px solid #00dcd1;
    background: #00dcd1;
    transition: 1s;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border:solid #ffff00;
    padding: 12px 24px;
    border-radius: 10px;
    background: #ffff00;
    position:absolute;
    cursor: pointer;
    width: 50%;
    font-size: 40px;
    
    margin: auto;
}
.hero-btn:hover{
    border: 10px solid #00dcd1;
    background: #00dcd1;
    transition: 1s;
}

.nav-links{
    flex: 1;
    
    width:20px;
    border-radius: 10px;
    border: #00dcd1;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    
} 
.nav-links ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    
    
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #00dcd1;
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.logo{
    background-color: transparent;
    width: 100%;
    margin: auto;
    
}

    

.logo img{
    width: 300px;
    position: relative;
    
    
    

    
    
}

.text-box{
    height: 250px;
    width: 50%;
    padding: 10px;
    position: relative;
    top: 70%;
    left: 70%;
    transform: translate(-50%,-50%);
    text-align: right;
    display: flex;
    
    
}
.text-box h1{
    font-size: 60px;
    
    background-color: transparent;
    border-radius: 7px;
    color: #000000;
    
    
    
}

.text-box a{
    margin: auto;
    display: block;
    
}


nav .fa{
    display: none;
}

.break{
    min-height: 200px;
    width: 100%;
    
    background-image: url(b6.jpg);
    
    
    background-size: cover;
    
    position: relative;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
    display: flex;
    
    padding-top: 200px;
    padding-bottom: 200px;

}
.break a{
    
    background-color: #000000;
    width: 60%;
    flex-direction: 20%;
    justify-content: space-between;
    
    border-radius: 10px;
    border-style: solid;
}
.break img{

    width: 100px;
}
.breakk{
    min-height: 200px;
    width: 100%;
    
    background-position: center;
    display: flex;
    background-size: cover;
    
    background-image: url(bg4.jpg);
    position: relative;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;


}
.breakk img{
    width: 700px;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@media(max-width: 700px){
        
        nav img{
            width: 100px;
        }
       .header img{
        width: 200px;
       }
    .rowww a{
        display: block;
        margin: auto;
        left: -40%;
        border-radius: 8px;
        
    }
    .break img{
        display: block;
        margin: auto;
        width: 80%;
        border-radius: 8px;
    }
    
     .text-box{
        width: 50%;
        
        display: block;
        margin: auto;
    }
    .text-box h1{
        text-align: center;
        font-size: 32px;
        color: #fff;
        display: block;
        animation: fadeIn 5s;

        
        
    }
    .nav-links ul li{
        display: block;
        color: #040404;
        border: #00dcd1;
    }
    .nav-links ul li a{
        display: block;
        color: #040404;
    }
    .nav-links{
        position: fixed;
        background: #fff;
        height: 50vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: right;
        z-index: 1;
        transition: 1s;
        margin: auto;
        
    }
        

    nav .fa {
        display: block;
        color: #fff;
        margin: 16px;
        font-size: 22px;
        cursor: pointer;
        transition: 1s;

        

        }
    nav .fa-times{
        display: block;
        color: #040404;
        margin: 16px;
        font-size: 22px;
        cursor: pointer;
        transition: 1s;
    }
    
    .nav-links ul{
        padding: 15px;
        color: #040404;
    }
}
.snowflake {
    position: sticky;
    user-select: none;
    z-index: 1000;
    pointer-events: none;
    width: 15px;
  }
.service{

    margin: auto;
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url(bg7.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: inherit;
    text-align: center;
    animation: fadeIn 5s;
    
    
    

}
h1{
    font-size: 42px;
    font-weight: 300;
    color: #040404;
    text-align: center;
    
}
p{
    color: #040404;
    font-size: 14px;
    font-weight: 200;
    line-height: 22px;
    padding: 10px;
}



.service-col{
    flex-basis: 31%;
    border-radius: 5px;
    
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    background-color: #ffffff60;
}
.seo{

        padding-top: 100px;
        padding-bottom: 100px;
    
}
.seo p{
    padding-top: 100px;
}
.service-col img{

    width: 280px;
    border-radius: 5px;
    position: relative;
}
h3{
    text-align: left;
    font-weight: 350;
    margin: 10px 0;
    color: #040404;

}


div img{
    width: 200px;
}



.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: o;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: #787a40;
}
.text x{
    text-align: center;
}
.about{

    margin: auto;
    width: 100%;
    background-image: url(3.png);
    background-size: cover;
    
    position: relative;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
    text-align: center;
    padding-top: 400px;
    padding-bottom: 400px;
    
}
.roww{
    
    
    width: 100%;
    
   
    
    border-radius: 7px;
    padding-top: 15px;


}
.roww img{

    
    width: 80%;
    
    
    border-radius: 30px;
    

}
.map{
    background-color: #ff8058;
    margin-top: 20px;
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    margin: auto;
    justify-content: center;
    justify-content: space-around;
}
.map img{
    width:300px;
    
}
.map h1{
    color: #fff;
    text-align: center;
    font-size: 68px;
    top: 10%;
}
.map p{
    color: #fff;
    font-size: 38px;
    width: 400px;
    text-align: center;
    font-weight: 200px;
    padding: 5px;
    padding-top: 50px;

}

.rowwww img{
    
    width: 300px;
    background-color: #04040413;
    box-shadow: 10px 0 40px 10px rgba(179, 255, 0, 0.432);
    border-radius: 500px;
    

}
.p1{
    text-align: left;
}
h4{
    text-align: left;
    color: #040404;
    font-size: 32px;
    

}

@media(max-width: 700px){

    .service{
        margin: auto;
        display: block;
        padding-top: 150px;
        padding-bottom: 150px;
    }
  
    
    .about{
        margin: auto;
        display: block;
        padding-top: 150px;
        padding-bottom: 150px;
        
    }
    

    
    
    
    .about{
        width: 100%; 
        background-color: #ffffff60;
        display: block;
        margin: auto;
    }
    .rowwww{
        width: 80%;
        background-color: #ffffff60;
    }

    .rowwww h1{
        font-size: 28px;
        text-align: left;
    }
    .rowwww a{
        margin-top: 25px;
        width: 150px;
    }
    
}

.bottom{

    background-color: #1b1b11;
    background-image: url(bg5.jpg);
    margin: auto;
    width: 100%;

    background-position: center;
    background-size: cover;
    
    text-align: center;
    animation: fadeIn 5s;


}
.bottom .fa{
   display:block
   
}
.social{
    flex-basis: 31%;
    border-radius: 5px;
    
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    
    background-size: cover;
    background-image: url(bg2.jpg);
    position: relative;
    
}
.social img{
    width: 900px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.sociall{
    flex-basis: 31%;
    border-radius: 5px;
    
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    justify-content: space-around;
    background-size: cover;
    background-color: #fff;
    position: relative;
    
}
.sociall img{
    width: 50vw;
    padding-top: 100px;
    padding-bottom: 100px;
}
.fa{
    
    padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  
   
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 100px;
    
    
  }
  .fa-instagram {
    background: #FCAF45;
    color: white;
    border-radius: 100px;
    
  }



.bottom img{
    width: 20px;
    padding-top: 100px;
    padding: 10px;
}
.ig img{
    width: 40px;
    padding-top: 100px;
    margin-bottom: -100px;
}

.servicee{

    margin: auto;
    width: 100%;
    background-image: url(image/roberto-nickson-rEJxpBskj3Q-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

    background-attachment: fixed;
    background-position: center;
    background-repeat: inherit;
    text-align: center;
}
.rowww{
    
    display: flex;
    justify-content: space-between;
    width: 10%;
    


}

.service-coll{
    flex-basis: 31%;
    border-radius: 5px;
    
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    background-color: #ffffff60;
}
.service-coll img{

    width: 280px;
    border-radius: 5px;
    position: relative;
}


.service-coll:hover{
    box-shadow: 0 0 20px 10px rgba(179, 255, 0, 0.432);


}


  .service-coll img {
    transition: transform 0.25s ease;
    cursor: zoom-in;
  }
  
  .service-coll img:active {
    -webkit-transform: scale(2);
    transform: scale(2);
    cursor: zoom-out;
  }
  @media(max-width: 700px){
    .hero-btn {
        display: block;
        margin: auto;
    }
    .map {
        display: block;
        margin: auto;
    }
    .map img{
        left: 0;
    }
    .map p{
        font-size: 26px;
        display: block;
        margin: auto;
        width: 250px;
    }
    sociall {
        display: block;
        margin: auto;
        
    }
    sociall img{
        max-width: 340px;

    }
    .social {
        display: block;
        margin: auto;
    }
    .social img{
        width: 340px;
    }
    
        .breakk {
            display: block;
            margin: auto;
        }
        .breakk img{
            width: 300px;
        }
}
.menu{
    width: 100%;
}
.pic img{
    width: 100vw;
}
@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}@media (prefers-reduced-motion: no-preference) {
    .square {
      animation-name: wipe-enter;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }
  .snow {
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
  }
  .snow:nth-child(1) {
    opacity: 0.6064;
    transform: translate(56.5936vw, -10px) scale(0.1606);
    animation: fall-1 22s -16s linear infinite;
  }
  @keyframes fall-1 {
    34.585% {
      transform: translate(57.9903vw, 34.585vh) scale(0.1606);
    }
    to {
      transform: translate(57.29195vw, 100vh) scale(0.1606);
    }
  }
  .snow:nth-child(2) {
    opacity: 0.0623;
    transform: translate(38.6106vw, -10px) scale(0.3982);
    animation: fall-2 17s -21s linear infinite;
  }
  @keyframes fall-2 {
    70.443% {
      transform: translate(37.0175vw, 70.443vh) scale(0.3982);
    }
    to {
      transform: translate(37.81405vw, 100vh) scale(0.3982);
    }
  }
  .snow:nth-child(3) {
    opacity: 0.7242;
    transform: translate(18.1453vw, -10px) scale(0.9984);
    animation: fall-3 10s -24s linear infinite;
  }
  @keyframes fall-3 {
    71.78% {
      transform: translate(22.1161vw, 71.78vh) scale(0.9984);
    }
    to {
      transform: translate(20.1307vw, 100vh) scale(0.9984);
    }
  } .snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
  }
  
  @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}